page-home {

    ion-title {
    color:red !important;
}
.home-container {
     display: -webkit-flex;
     -webkit-flex-direction: column;
     height: 100%;
}

.home-container > .row {
     -webkit-flex: 1;
}


.icon-row {
     -webkit-align-items: center;
}

.title{
  color:#f53d3d;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-size:20px;
}


.border {
  width: 32%;
  border: 3px solid brown;
  height: 91%;
  border-radius: 10px !important;
  margin-left:2%;
  margin-right : 1%;
  padding-top: 6%;
}
}
