page-login {


 button{
      width: 287px;
      border-radius:5px !important;
  }


 .buttonclass {
      width:100% !important;
      border-radius:5px !important;
  }
    
  ion-icon{
        font-size: 170%;
       
          }


  .glyphicon {
    font-size: 100%;
}
  


}
